:root {
  --brown: rgb(38,37,35);
  --beige: rgb(158,147,134);
  --darkgreen: rgb(75,103,84);
  --green: rgb(121,146,120);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input-container,
#display-container {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: var(--darkgreen);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-name {
  margin-right: 2px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: var(--beige);
  color: white;
  height: 50px;
  width: 250px;
  cursor: pointer;
}

.input-name i {
  padding: 5px;
}

.input-name input {
  background: none;
  border: none;
  color: white;
  background-color: var(--beige);
  flex: 1;
  height: 80%;
  outline: none;
  text-rendering: ;
}

input {
  background-color: var(--beige);
  border: none;
}

.dropdown {
  height: 50px;
  width: 25%;
  position: relative;
  margin: 2px;
  cursor: pointer;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  height: 50px;
  background: var(--beige);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px --green solid;
  border-radius: 5px;
  padding: 5px;
  transition: background 0.3s;
}

.select-clicked {
  border: 2px --green solid;
  box-shadow: 0 0 0.8em --brown;
}

.select:hover {
  background: var(--brown);
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid white;
  transition: 0.2s;
}

.caret-rotate {
  transition: rotate (180deg);
}

.menu {
  list-style: none;
  padding: 1px 1px;
  background: var(--green);
  border: 1px --green solid;
  box-shadow: 0 0.5em 1em rgbd(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 3px;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 1px 1px;
  margin: 1px 0;
  border-radius: 5px;
  cursor: pointer;
}

.menu li:hover {
  background: var(--brown);
}

.active {
  background: var(--green);
}

.menu-open {
  display: block;
  opacity: 1;
}



.display-name,
.display-gender,
.display-race,
.display-class {
  height: 35px;
}

