:root {
  --brown: rgb(38, 37, 35);
  --beige: rgb(158, 147, 134);
  --darkgreen: rgb(75, 103, 84);
  --green: rgb(121, 146, 120);
  --yellow: rgba(197, 206, 84, 0.57);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cinzel Decorative", cursive;
}

#gender-select option[value="female"] {
  background-image: url(/frontend/images/female.png);
}

#gender-select option[value="male"] {
  background-image: url(/frontend/images/male.png);
}

#gender-select option[value="Other"] {
  background-image: url(/frontend/images/blender.png);
}

#race-select option[value="blnumenoreans"] {
  background-image: url(/frontend/images/blnumenoreans.webp);
}
#race-select option[value="dwarves"] {
  background-image: url(/frontend/images/dwarves.jpg);
}
#race-select option[value="elves"] {
  background-image: url(/frontend/images/elves.jpeg);
}
#race-select option[value="nazgul"] {
  background-image: url(/frontend/images/nazgul.jpeg);
}
#race-select option[value="ologhai"] {
  background-image: url(/frontend/images/ologhai.jpeg);
}
#race-select option[value="men"] {
  background-image: url(/frontend/images/talion.png);
}
#race-select option[value="undead"] {
  background-image: url(/frontend/images/undead.png);
}
#race-select option[value="uruks"] {
  background-image: url(/frontend/images/Uruk.jpeg);
}
