/* body {
  background: #232323;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #2a2f2a;
    color: #2edd2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #be2929 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #eb44dd solid;
    box-shadow: 0 0 0.8em #a62d9c;
}

.select:hover {
    background: #dfdf21;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #5144e3;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #cd62c4;
    border: 1px #dfdf21 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #1f4dca;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    opacity: 0.95;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #ee6d27;
}

.active {
    background: #9c5050;
}

.menu-open {
    display: block;
    opacity: 1;
}
 */

